<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejemplo13_01.Properties.Settings.FUTBOL2006" connectionString="Data Source=.\SQLExpress;Initial Catalog=FUTBOL2006;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>